:root{
--dark-yellow: hsl(47, 88%, 63%);
--light-gray: hsl(0, 0%, 42%);
--black: hsl(0, 0%, 7%);
}

*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-yellow);
    font-family: "Figtree", sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.blog-card {
    max-width: 19rem;
    background: white;
    padding: min(1rem);
    border: 1px solid var(--black);
    border-radius: 15px;
}

.blog-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 0 0 1rem 0;
}

h1 {
    font-size: clamp(1.2rem, 2.5vw, 1.3rem);
    cursor: pointer;
}

h1:hover{
    color: var(--dark-yellow);
}

mark {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--dark-yellow);
    font-weight: 800;
}

p {
    font-size: clamp(1rem, 2vw, 1.1rem);
    font-weight: 500;
    color: var(--light-gray);
}

.published {
    color: var(--black);
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author img {
    width: 32px;
    height: 32px;
    margin: 0 10px 0 0;
}

.author p {
    font-weight: 800;
    color: var(--black);
}